name: CI
on: [push, pull_request]

jobs:
  test:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: Dub Test
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-20.04
          # - windows-2022
          # - macos-10.15
        dc:
          - dmd-2.102.1
          - dmd-2.097.2
          - ldc-1.31.0
          - ldc-1.27.1
        arch:
          - x86_64
        clang:
          - 11.1.0
          - 12.0.1
          - 13.0.1
          - 14.0.6
          - 15.0.7
          - 16.0.0
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Cache
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            ~/llvm
          key: cache-os:${{ matrix.os }}-clang:${{ matrix.clang }}

      - name: Setup D
        uses: dlang-community/setup-dlang@v1.2.1
        with:
          compiler: ${{ matrix.dc }}

      - name: Setup C++
        uses: aminya/setup-cpp@v1
        with:
          llvm: ${{ matrix.clang }}

      - name: Run tests
        run: dub test -q --build=unittest-cov --arch=${{ matrix.arch }}
        env:
          LIBRARY_PATH: "${{ env.LLVM_PATH }}/lib"

      - uses: codecov/codecov-action@v3
